.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
src/symbols.rds
src/*.so
src/*.dylib
src/*.history

src/stan/**
!src/stan/**/*.*
src/stan/**/*.exe
src/stan/**/*.EXE

dev/

AGENTS.md
docs/
inst/doc
